<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Heat Chart MaterialRegisterHeaders</h4>
            <div class="input-group">
                <input id="inputSearchMaterialRegisterHeaders" type="search" ng-model="filterMaterialRegisterHeaders" class="form-control shortInputSearch"
                       placeholder="Filter, search materialRegisterHeaders..">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                    <button class="btn btn-primary" title="Add" ng-click="addNew();"><i class="fa fa-user-plus fa-fw"></i></button>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6" ng-repeat="materialRegister in MaterialRegisterHeaders | filter:filterMaterialRegisterHeaders">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{materialRegister.CTNumber}}</strong><br />
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed shortMargin">
                                    <tr> <td class="shortPadding">Supplier Name:</td> <td class="shortPadding"><i>{{materialRegister.SupplierSelected.Name}}</i></td> </tr>
                                    <tr> <td class="shortPadding">Supplier PO Number:</td> <td class="shortPadding"><i>{{materialRegister.SupplierPONumber}}</i></td> </tr>
                                    <tr> <td class="shortPadding">Supplier PO Date:</td> <td class="shortPadding"><i>{{materialRegister.SupplierPODate | date:'mediumDate'}}</i></td> </tr>
                                    <tr> <td class="shortPadding">Third Party Inspection:</td> <td class="shortPadding"><i>{{materialRegister.ThirdPartyInspectionSelected.Name}}</i></td> </tr>
                                    <tr> <td class="shortPadding">Raw Material Forms:</td> <td class="shortPadding"><i>{{materialRegister.RawMaterialFormSelected.Name}}</i></td> </tr>
                                    <tr> <td class="shortPadding">Status:</td> <td class="shortPadding"><i>{{materialRegister.Status}}</i></td> </tr>
                                    <tr> <td class="shortPadding">Created By:</td> <td class="shortPadding"><i>{{materialRegister.CreatedBy}}</i></td> </tr>
                                    <tr> <td class="shortPadding">Modified By:</td> <td class="shortPadding"><i>{{materialRegister.ModifiedBy}}</i></td> </tr>
                                    <tr> <td class="shortPadding">Created On:</td> <td class="shortPadding"><i>{{materialRegister.CreatedOn | date:'mediumDate'}}</i></td> </tr>
                                    <tr> <td class="shortPadding">Modified On:</td> <td class="shortPadding"><i>{{materialRegister.ModifiedOn | date:'mediumDate'}}</i></td> </tr>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer clearfix">
                            <div class="pull-right">
                                <buton class="btn btn-primary btn-xs" ng-click="editMaterialRegisterHeader(materialRegister);">
                                    Edit
                                    <i class="fa fa-pencil pull-right"></i>
                                </buton>
                                <buton class="btn btn-primary btn-xs" ng-click="openDeleteDialog(materialRegister);">
                                    Delete
                                    <i class="glyphicon glyphicon-remove-sign"></i>
                                </buton>
                                <buton class="btn btn-primary btn-xs" ng-click="DownloadAllReports(materialRegister);">
                                    DownloadAllReports<i class="fa fa-download pull-right"></i>

                                </buton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <ng-custom-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)">
                </ng-custom-pager>
            </div>
        </div>
    </div>
</div>