<div class="panel panel-primary">
    <div class="panel-heading">
        Add Heat Chart Details with Material Register
    </div>
    <div class="panel-body">
        <form role="form" novalidate angular-validator name="newHeatChartDetails">
            <div class="col-sm-12">
                <div class="panel panel-info" id="HeatChartSpecificPanel">
                    <div class="panel-heading">
                        Heat Chart Specific
                    </div>
                    <div class="panel-body">
                        <div class="form-group form-inline">
                            <div class="col-sm-4">
                                <label for="PartNumber" class="control-label vertical-middle-align">Part Number</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="newHeatChartDetails.PartNumber" name="PartNumber"
                                       id="PartNumber" placeholder="Part Number" />
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <div class="col-sm-4">
                                <label for="PartNumberDescription" class="control-label vertical-middle-align">Part Number Description</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="newHeatChartDetails.PartNumberDescription" name="PartNumberDescription"
                                       id="PartNumberDescription" placeholder="Part Number Description" />
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <div class="col-sm-4">
                                <label for="SheetNo" class="control-label vertical-middle-align">Sheet No</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="newHeatChartDetails.SheetNo" name="SheetNo"
                                       id="SheetNo" placeholder="Sheet No" />
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <div class="col-sm-4">
                                <label for="Dimension" class="control-label vertical-middle-align lab-important">Dimension</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="newHeatChartDetails.Dimension"
                                       name="Dimension" id="Dimension" placeholder="Dimension">
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <div class="col-sm-4">
                                <label for="Specifications" class="control-label vertical-middle-align">Specification</label>
                            </div>
                            <div class="form-group">
                                <div ng-custom-select="spec as spec.Name for spec in newHeatChartDetails.Specifications | filter: { Name: $searchTerm }"
                                     ng-model="newHeatChartDetails.SpecificationSelected">
                                    <div class="pull-left">
                                        <strong>{{ spec.Name }}</strong><br />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-info" id="MaterialRegister">
                    <div class="panel-heading">
                        Material Register
                    </div>
                    <div class="panel-body">
                        <div class="form-group form-inline">
                            <div class="col-sm-4">
                                <label for="MaterialRegisterHeader" class="control-label vertical-middle-align">CT Number</label>
                            </div>
                            <div class="form-group">
                                <div ng-custom-select="mr as mr.CTNumber for mr in newHeatChartDetails.MaterialRegisterHeaders | filter: { CTNumber: $searchTerm }"
                                     ng-model="newHeatChartDetails.MaterialRegisterHeaderSelected" custom-select-options="materialRegisterHeaderSelectionChange" >
                                    <div class=" pull-left">
                                        <strong>{{ mr.CTNumber }}</strong><br />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <div class="col-sm-4">
                                <label for="MaterialRegisterSubSeries" class="control-label vertical-middle-align">Sub Series Number</label>
                            </div>
                            <div class="form-group">
                                <select id="MaterialRegisterSubSeries" class="form-control"
                                        ng-disabled="!newHeatChartDetails.MaterialRegisterSubSeries"
                                        ng-model="newHeatChartDetails.MaterialRegisterSubSeriesSelected"
                                        ng-options="mrSub as mrSub.SubSeriesNumber for mrSub in newHeatChartDetails.MaterialRegisterSubSeries">
                                    <option value=''>Select</option>
                                </select>

                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <div class="col-sm-4">
                                <label for="MaterialRegisterDimension" class="control-label vertical-middle-align">Dimension</label>
                            </div>
                            <div class="form-group">
                                <span class="form-control">{{newHeatChartDetails.MaterialRegisterHeaderSelected.Dimension}}</span>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <div class="col-sm-4">
                                <label for="MaterialRegisterSpecification" class="control-label vertical-middle-align">Specification</label>
                            </div>
                            <div class="form-group">
                                <span class="form-control">{{newHeatChartDetails.MaterialRegisterHeaderSelected.SpecificationSelected.Name}}</span>
                            </div>
                        </div>
                        <div class="form-group form-inline" ng-show="(newHeatChartDetails.MaterialRegisterHeaderSelected != undefined && 
                                                                      newHeatChartDetails.MaterialRegisterHeaderSelected.Status != '' )">
                            <div class="col-sm-4">
                                <label for="MaterialRegisterStatus" class="control-label vertical-middle-align">MR Status</label>
                            </div>
                            <div class="form-group">
                                <span class="form-control">{{newHeatChartDetails.MaterialRegisterHeaderSelected.Status}}</span>
                            </div>
                        </div>

                        <div class="form-group form-inline" ng-show="(newHeatChartDetails.MaterialRegisterSubSeriesSelected != undefined &&
                                                                      newHeatChartDetails.MaterialRegisterSubSeriesSelected.Status != '' )">
                            <div class="col-sm-4">
                                <label for="MaterialSubSeriesStatus" class="control-label vertical-middle-align">MR Sub Series Status</label>
                            </div>
                            <div class="form-group">
                                <span class="form-control">{{newHeatChartDetails.MaterialRegisterSubSeriesSelected.Status}}</span>
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-info" id="MillDetails" ng-hide="newHeatChartDetails.MaterialRegisterSubSeriesSelected == null ||
                                                                        newHeatChartDetails.MaterialRegisterSubSeriesSelected.MillDetail == null"
                         ng-show="(newHeatChartDetails.MaterialRegisterSubSeriesSelected.MillDetail.MillName != '' &&
                     newHeatChartDetails.MaterialRegisterSubSeriesSelected.MillDetail.TCNumber != '')">
                        <div class="panel-heading">
                            Mill Details
                        </div>
                        <div class="panel-body">
                            <div class="form-group form-inline">
                                <div class="col-sm-4">
                                    <label for="MaterialSubSeriesMillName" class="control-label vertical-middle-align">MillName</label>
                                </div>
                                <div class="form-group">
                                    <span class="form-control">{{newHeatChartDetails.MaterialRegisterSubSeriesSelected.MillDetail.MillName}}</span>
                                </div>
                            </div>

                            <div class="form-group form-inline">
                                <div class="col-sm-4">
                                    <label for="MaterialSubSeriesMillTCNumber" class="control-label vertical-middle-align">Mill TC Number</label>
                                </div>
                                <div class="form-group">
                                    <span class="form-control">{{newHeatChartDetails.MaterialRegisterSubSeriesSelected.MillDetail.TCNumber}}</span>
                                </div>
                            </div>

                            <div class="form-group form-inline">
                                <div class="col-sm-4">
                                    <label for="MaterialSubSeriesMillTCDate" class="control-label vertical-middle-align">Mill TC Date</label>
                                </div>
                                <div class="form-group">
                                    <span class="form-control">{{newHeatChartDetails.MaterialRegisterSubSeriesSelected.MillDetail.TCDate | date:'mediumDate'}}</span>                                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info" id="LabDetails" ng-hide="newHeatChartDetails.MaterialRegisterSubSeriesSelected == null ||
                                                                        newHeatChartDetails.MaterialRegisterSubSeriesSelected.LabReport == null"
                         ng-show="(newHeatChartDetails.MaterialRegisterSubSeriesSelected.LabReport.LabName != ''
                                && newHeatChartDetails.MaterialRegisterSubSeriesSelected.LabReport.TCNumber != '')">
                        <div class="panel-heading">
                            Lab Details
                        </div>
                        <div class="panel-body">
                            <div class="form-group form-inline">
                                <div class="col-sm-4">
                                    <label for="MaterialSubSeriesLabName" class="control-label vertical-middle-align">Lab Name</label>
                                </div>
                                <div class="form-group">
                                    <span class="form-control">{{newHeatChartDetails.MaterialRegisterSubSeriesSelected.LabReport.LabName}}</span>
                                </div>
                            </div>

                            <div class="form-group form-inline">
                                <div class="col-sm-4">
                                    <label for="MaterialSubSeriesLabTCNumber" class="control-label vertical-middle-align">Lab TC Number</label>
                                </div>
                                <div class="form-group">
                                    <span class="form-control">{{newHeatChartDetails.MaterialRegisterSubSeriesSelected.LabReport.TCNumber}}</span>
                                </div>
                            </div>

                            <div class="form-group form-inline">
                                <div class="col-sm-4">
                                    <label for="MaterialSubSeriesLabTCDate" class="control-label vertical-middle-align">Lab TC Date</label>
                                </div>
                                <div class="form-group">
                                    <span class="form-control">{{newHeatChartDetails.MaterialRegisterSubSeriesSelected.LabReport.TCDate | date:'mediumDate'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="cancelEdit()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="AddHeatChartDetails()">Add </button>
        </div>
    </div>
</div>
