
<div class="panel panel-primary">
    <div class="panel-heading">
        Generate Hear Chart {{CurrentHeatChartHeader.HeatChartNumber}}
    </div>
    <div class="panel-body">
        <form role="form" novalidate angular-validator name="deleteHeatChartHeaderForm">

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">Are you sure you want to Generate Heat Chart?</div>
                </div>
            </div>

        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="cancelEdit()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="generateHeatChartHeader()">Yes</button>
        </div>
    </div>
</div>