
<div class="panel panel-primary">
    <div class="panel-heading">
        Delete {{EditedTest.Name}}
    </div>
    <div class="panel-body">
        <form role="form" novalidate angular-validator name="deleteTestForm">

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">Are you sure you want to delete?</div>
                </div>
            </div>

        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="cancelEdit()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="deleteTest()">Yes</button>
        </div>
    </div>
</div>